APP_NAME=soul

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen3:1.7b

GEMINI_API_KEY=your_real_key
GEMINI_MODEL=your_model
GEMINI_IMAGE_MODEL=your_image_model

NVIDIA_API_KEY=your_real_key
NVIDIA_BASE_URL=your_base_url
NVIDIA_MODEL=your_model

BRAVE_SEARCH_API_KEY=your_real_key